<!DOCTYPE html>
<html>
<head>
	<title>{{head.title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
	<h1>{{head.title}}</h1>
	<div>
		<form class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="exampleInputAmount" placeholder="Search for entities" />
				</div>
				<button type="submit" class="btn btn-primary"><spann class="glyphicon glyphicon-search"></span></button>
			</div>
		</form>
	</div>
	<script src="/js/tagsearch.js"></script>

	{{>video-player}}
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			tagsearch.init();
		});
	</script>
</body>
</html>