<!DOCTYPE html>
<html>
<head>
	<title>{{head.title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css" />
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
	<h1>{{head.title}}</h1>
	
	{{>video-player}}
	
	{{>tag-search-form}}
	
	{{>search-results}}
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script></script>
</body>
</html>