<div>
	<form id="frm-tag-search" class="form-inline">
		<div class="form-group">
			<div class="input-group">
				<div>
					<input type="text" class="form-control" id="annotation-title" placeholder="Annotation Title..." />
					<button type="submit" class="btn btn-primary" id="create-new-annotation"><span class="glyphicon glyphicon-pushpin"></span></button>
					<button type="submit" class="btn btn-primary" id="edit-annotation"><span class="glyphicon glyphicon-pencil"></span></button>
				</div>
				<div id="edit-only">
					<input type="text" class="form-control" id="quote-text" placeholder="Quote Text..." />
					<input type="text" class="form-control" id="comment-text" placeholder="Comment Text..." />
				</div>
			</div>
			
		</div>
	</form>
</div>

<script src="/js/tagsearch.js"></script>
<script src="/js/timeline.js"></script>
<script>
	$(document).ready(function(){
		tagsearch.init();
		timeline.init();
	});
</script>